@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

#root {
  max-width: 100rem;
  width: 100%;
  padding: 0rem 1rem;
  margin: 0px auto;
}

* {
  font-family: "Poppins", sans-serif;
}

.active {
  @apply text-base font-semibold text-yellow-500;
}

.inactive {
  @apply text-base font-semibold;
}

.slider1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../src/assets/slider/1.jpg");
  background-size: cover;
  background-position: center center;
}
.slider2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../src/assets/slider/2.jpg");
  background-size: cover;
  background-position: center center;
}
.slider3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../src/assets/slider/3.jpg");
  background-size: cover;
  background-position: center center;
}
.slider4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../src/assets/slider/4.jpg");
  background-size: cover;
  background-position: center center;
}
